/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/storage/*.key
/vendor
.env
.env.backup
/.idea
composer.lock
package-lock.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
