@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*Components*/
@import "./components/auth.css";
@import "./components/alert.css";
@import "./components/avatar.css";
@import "./components/badge.css";
@import "./components/breadcrumb.css";
@import "./components/button.css";
@import "./components/collapsible.css";
@import "./components/content-box.css";
@import "./components/dropdown.css";
@import "./components/grid.css";
@import "./components/loading.css";
@import "./components/list.css";
@import "./components/modal.css";
@import "./components/radius.css";
@import "./components/pagination.css";
@import "./components/progress.css";
@import "./components/tab.css";
@import "./components/table.css";
@import "./components/toastr.css";
@import "./components/tooltip.css";
@import "./components/statistic-box.css";
@import "./components/backEndTablePagination.css";
@import "./components/input.css";
@import "./components/vertical-menu.css";

/*Layouts*/
@import "./layout/main.css";
@import "./layout/full-screen-layout.css";
@import "./layout/top-bar.css";
@import "./layout/main-menu.css";
@import "./layout/footer.css";

/* Miscs */
@import "./misc/effect.css";
@import "./misc/highlighter.css";

[x-cloak] {
    display: none;
}
