@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*Layout Main Styles*/

/*Main Area*/
.main-area{
    @apply flex-grow overflow-y-auto text-gray-800;
}


/*Content Area -> Top Menu*/
.main-area .top-menu {
    @apply flex items-center h-20 px-6 bg-white sm:px-10;
}
.top-menu .trigger {
    @apply mr-8 cursor-pointer;
}
/*Top Menu -> Search Box*/
.top-menu .search-box {
    @apply relative w-full max-w-md sm:-ml-2 hidden lg:block ;
}
.search-box input {
    @apply w-full py-2 pl-10 pr-4 placeholder-gray-400 border rounded-full overflow-hidden focus:bg-green-50 focus:outline-none;
}
/*Top Menu -> User Menu*/
.top-menu .user-menu {
    @apply flex items-center flex-shrink-0 ml-auto;
}
.user-menu .trigger-button {
    @apply relative inline-flex items-center p-2 rounded-lg hover:bg-gray-100 focus:bg-blue-100 focus:outline-none;
}
.trigger-button .staff-info {
    @apply hidden md:flex md:flex-col md:items-end md:leading-tight;
}
.staff-info .staff-name {
    @apply font-semibold;
}
.staff-info .staff-title {
    @apply text-sm text-gray-600;
}
.trigger-button .staff-photo {
    @apply w-12 h-12 ml-2 mr-2 overflow-hidden bg-gray-100 rounded-full sm:ml-3;
}
.staff-photo .trigger-button {
    @apply flex text-sm transition duration-150 ease-in-out border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300;
}
.staff-photo img {
    @apply object-cover w-full h-full rounded-full;
}
.user-menu .dropdown-header {
    @apply block px-4 py-2 text-xs text-gray-400
}
.user-menu .dropdown-list-container{
    @apply py-2;
}
.user-menu .dropdown-item {
    @apply block px-4 py-2 text-sm text-gray-500 font-bold text-left hover:bg-gray-200 w-full
}
.top-menu .action-section {
    @apply flex pl-3 ml-3 -mr-4 space-x-1 border-l;
}
.action-section .trigger-button {
    @apply relative p-2 text-gray-400 rounded-full hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600;
}
.action-section .logout-button {
    @apply relative flex flex-row p-2 text-white bg-red-500 rounded-full hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600;
}


/*Main Area -> Content Container*/
.main-area .content-container {
    @apply p-6 space-y-6 sm:p-10;
}
/*Content Container -> Content Header*/
.content-container .container-header {
    @apply flex flex-col lg:justify-between items-center space-y-6 md:space-y-0 md:flex-row;
}
/*Content Header -> Page Header*/
.container-header .page-header {
    @apply mr-6 flex flex-col flex-grow;
}
.page-header .page-title{
    @apply mb-2 text-2xl lg:text-4xl font-semibold;
}
.page-header .page-subtitle{
    @apply hidden lg:block text-gray-600 ml-0.5 text-2xl font-semibold;
}
.container-header .page-action-buttons {
    @apply flex flex-row items-center gap-1;
}

/*Left Menu*/

/*Left Menu Item*/
.left-menu-logo {
    @apply flex items-center justify-center h-20 px-4 bg-blue-600;
}
.left-menu-item {
    @apply flex items-center p-2 font-semibold cursor-pointer whitespace-nowrap overflow-hidden transition-all duration-700 ease-in-out;
}

/*Content Card*/

.content-card-show-button {
    @apply absolute top-4 right-4 text-gray-600 hover:bg-gray-500 hover:text-white w-7 h-7 flex items-center justify-center rounded-full cursor-pointer
}

/*Form*/
.form-input {
    @apply flex w-full px-2 border border-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm placeholder-gray-300
}
