.alert {
    @apply flex flex-shrink-0 items-center justify-between relative w-full flex-grow-0
}

.alert-content-container {
    @apply flex justify-start items-center flex-grow whitespace-normal py-2 px-4
}

.alert-content {
    @apply grid grid-cols-1
}

.alert-title {
    @apply font-bold text-lg
}

.alert-close {
    @apply hover:text-red-500 cursor-pointer mr-2
}

.alert-icon {
    @apply flex flex-shrink-0 justify-center items-center
}

.alert-countdown {
    @apply absolute opacity-50 justify-center items-center bottom-0 left-0 h-1 px-2 w-full
}

/*<editor-fold desc="Filled Style">*/
/*General Definitions*/
.alert-filled-base {
    @apply border text-white py-1 px-2 font-semibold
}

.alert-filled-base .alert-icon {
    @apply ml-2
}

.alert-filled-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Black*/
.alert-filled-black {
    @apply bg-gray-700 border-black
}

.alert-filled-black #countdown {
    @apply bg-gray-200
}

/*Blue*/
.alert-filled-blue {
    @apply bg-blue-500 border-blue-500
}

.alert-filled-blue #countdown {
    @apply bg-blue-200
}

/*Gray*/
.alert-filled-gray {
    @apply bg-gray-500 border-gray-500
}

.alert-filled-gray #countdown {
    @apply bg-gray-200
}

/*Green*/
.alert-filled-green {
    @apply bg-green-500 border-green-500
}

.alert-filled-green #countdown {
    @apply bg-green-200
}

/*Indigo*/
.alert-filled-indigo {
    @apply bg-indigo-500 border-indigo-500
}

.alert-filled-indigo #countdown {
    @apply bg-indigo-200
}

/*Pink*/
.alert-filled-pink {
    @apply bg-pink-500 border-pink-500
}

.alert-filled-pink #countdown {
    @apply bg-pink-200
}

/*Purple*/
.alert-filled-purple {
    @apply bg-purple-500 border-purple-500
}

.alert-filled-purple #countdown {
    @apply bg-purple-200
}

/*Red*/
.alert-filled-red {
    @apply bg-red-500 border-red-500
}

.alert-filled-red .alert-countdown {
    @apply bg-red-200
}

/*White*/
.alert-filled-white {
    @apply bg-gray-100 border-gray-300 text-gray-700  !important
}

.alert-filled-white #countdown {
    @apply bg-gray-400
}

.alert-filled-yellow {
    @apply bg-yellow-500 border-yellow-500
}

.alert-filled-yellow #countdown {
    @apply bg-yellow-200
}

/*</editor-fold>*/

/*<editor-fold desc="Light Style">*/
/*General Definitions*/
.alert-light-base {
    @apply border py-1 px-2 font-semibold
}

.alert-light-base .alert-icon {
    @apply ml-2
}

.alert-light-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Black*/
.alert-light-black {
    @apply bg-gray-500 border-black text-gray-50
}

.alert-light-black #countdown {
    @apply bg-gray-200
}

/*Blue*/
.alert-light-blue {
    @apply bg-blue-200 border-blue-500 text-blue-800
}

.alert-light-blue #countdown {
    @apply bg-blue-500
}

/*Gray*/
.alert-light-gray {
    @apply bg-gray-200 border-gray-500 text-gray-800
}

.alert-light-gray #countdown {
    @apply bg-gray-500
}

/*Green*/
.alert-light-green {
    @apply bg-green-200 border-green-500 text-green-800
}

.alert-light-green #countdown {
    @apply bg-green-500
}

/*Indigo*/
.alert-light-indigo {
    @apply bg-indigo-200 border-indigo-500 text-indigo-800
}

.alert-light-indigo #countdown {
    @apply bg-indigo-500
}

/*Pink*/
.alert-light-pink {
    @apply bg-pink-200 border-pink-500 text-pink-800
}

.alert-light-pink #countdown {
    @apply bg-pink-500
}

/*Purple*/
.alert-light-purple {
    @apply bg-purple-200 border-purple-500 text-purple-800
}

.alert-light-purple #countdown {
    @apply bg-purple-500
}

/*Red*/
.alert-light-red {
    @apply bg-red-200 border-red-500 text-red-800
}

.alert-light-red #countdown {
    @apply bg-red-500
}

/*White*/
.alert-light-white {
    @apply bg-white border-gray-300 text-gray-700
}

.alert-light-white #countdown {
    @apply bg-gray-400
}

.alert-light-yellow {
    @apply bg-yellow-200 border-yellow-500 text-yellow-800
}

/*</editor-fold>*/

/*<editor-fold desc="Inline Style">*/
/*General Definitions*/
.alert-inline-base {
    @apply border bg-white bg-opacity-50 text-white py-1 px-2 font-semibold
}

.alert-inline-line {
    @apply w-1.5 h-full rounded-full flex-shrink-0 -ml-0.5 mr-1
}

.alert-inline-line:after {
    content: '&nbsp';
    visibility: hidden;
}

.alert-inline-base .alert-icon {
    @apply ml-2
}

.alert-inline-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Black*/
.alert-inline-black {
    @apply border-black text-gray-800
}

.alert-inline-black #line, .alert-inline-black #countdown {
    @apply bg-black
}

/*Blue*/
.alert-inline-blue {
    @apply border-blue-500 text-blue-700
}

.alert-inline-blue #line, .alert-inline-blue #countdown {
    @apply bg-blue-500
}

/*Gray*/
.alert-inline-gray {
    @apply border-gray-500 text-gray-700
}

.alert-inline-gray #line, .alert-inline-gray #countdown {
    @apply bg-gray-500
}

/*Green*/
.alert-inline-green {
    @apply border-green-500 text-green-700
}

.alert-inline-green #line, .alert-inline-green #countdown {
    @apply bg-green-500
}

/*Indigo*/
.alert-inline-indigo {
    @apply border-indigo-500 text-indigo-700
}

.alert-inline-indigo #line, .alert-inline-indigo #countdown {
    @apply bg-indigo-500
}

/*Pink*/
.alert-inline-pink {
    @apply border-pink-500 text-pink-700
}

.alert-inline-pink #line, .alert-inline-pink #countdown {
    @apply bg-pink-500
}

/*Purple*/
.alert-inline-purple {
    @apply border-purple-500 text-purple-700
}

.alert-inline-purple #line, .alert-inline-purple #countdown {
    @apply bg-purple-500
}

/*Red*/
.alert-inline-red {
    @apply border-red-500 text-red-700
}

.alert-inline-red #line, .alert-inline-red #countdown {
    @apply bg-red-500
}

/*White*/
.alert-inline-white {
    @apply border-gray-300 text-gray-700
}

.alert-inline-white #line, .alert-inline-white #countdown {
    @apply bg-gray-300
}

/*Yellow*/
.alert-inline-yellow {
    @apply border-yellow-500 text-yellow-700
}

.alert-inline-yellow #line, .alert-inline-yellow #countdown {
    @apply bg-yellow-500
}

/*</editor-fold>*/

/*<editor-fold desc="Outline Style">*/
.alert-outline-base {
    @apply shadow text-gray-700 bg-white bg-opacity-50 font-semibold overflow-hidden
}

.alert-outline-line {
    @apply w-1.5 h-full flex-shrink-0 mr-1
}

.alert-outline-line:after {
    content: '&nbsp';
    visibility: hidden;
}

.alert-outline-base .alert-icon {
    @apply ml-2
}

.alert-outline-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Black*/
.alert-outline-black #line, .alert-outline-black #countdown {
    @apply bg-black
}

.alert-outline-black .alert-icon {
    @apply text-black !important
}

/*Blue*/
.alert-outline-blue #line, .alert-outline-blue #countdown {
    @apply bg-blue-500
}

.alert-outline-blue .alert-icon {
    @apply text-blue-500 !important
}

/*Gray*/
.alert-outline-gray #line, .alert-outline-gray #countdown {
    @apply bg-gray-500
}

.alert-outline-gray .alert-icon {
    @apply text-gray-500 !important
}

/*Green*/
.alert-outline-green #line, .alert-outline-green #countdown {
    @apply bg-green-500
}

.alert-outline-green .alert-icon {
    @apply text-green-500 !important
}

/*Indigo*/
.alert-outline-indigo #line, .alert-outline-indigo #countdown {
    @apply bg-indigo-500
}

.alert-outline-indigo .alert-icon {
    @apply text-indigo-500 !important
}

/*Pink*/
.alert-outline-pink #line, .alert-outline-pink #countdown {
    @apply bg-pink-500
}

.alert-outline-pink .alert-icon {
    @apply text-pink-500 !important
}

/*Purple*/
.alert-outline-purple #line, .alert-outline-purple #countdown {
    @apply bg-purple-500
}

.alert-outline-purple .alert-icon {
    @apply text-purple-500 !important
}

/*Red*/
.alert-outline-red #line, .alert-outline-red #countdown {
    @apply bg-red-500
}

.alert-outline-red .alert-icon {
    @apply text-red-500 !important
}

/*White*/
.alert-outline-white #line, .alert-outline-white #countdown {
    @apply bg-gray-300
}

.alert-outline-white .alert-icon {
    @apply text-gray-500 !important
}

/*Yellow*/
.alert-outline-yellow #line, .alert-outline-yellow #countdown {
    @apply bg-yellow-500
}

.alert-outline-yellow .alert-icon {
    @apply text-yellow-500 !important
}

/*</editor-fold>*/

/*<editor-fold desc="Elegant Style">*/
/*General Definitions*/
.alert-elegant-base {
    @apply shadow bg-white bg-opacity-50 text-gray-700 px-2 font-semibold overflow-hidden
}

.alert-elegant-base #elegant-title {
    @apply rounded-full border -ml-3 mr-2 px-1 text-2xs font-semibold
}

.alert-elegant-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Black*/
.alert-elegant-black #elegant-title {
    @apply bg-gray-500 text-gray-100 border-gray-700
}

.alert-elegant-black #countdown {
    @apply bg-black
}

/*Blue*/
.alert-elegant-blue #elegant-title {
    @apply bg-blue-200 text-blue-600 border-blue-300
}

.alert-elegant-blue #countdown {
    @apply bg-blue-500
}

/*Gray*/
.alert-elegant-gray #elegant-title {
    @apply bg-gray-200 text-gray-600 border-gray-300
}

.alert-elegant-gray #countdown {
    @apply bg-gray-500
}

/*Green*/
.alert-elegant-green #elegant-title {
    @apply bg-green-200 text-green-600 border-green-300
}

.alert-elegant-green #countdown {
    @apply bg-green-500
}

/*Indigo*/
.alert-elegant-indigo #elegant-title {
    @apply bg-indigo-200 text-indigo-600 border-indigo-300
}

.alert-elegant-indigo #countdown {
    @apply bg-indigo-500
}

/*Pink*/
.alert-elegant-pink #elegant-title {
    @apply bg-pink-200 text-pink-600 border-pink-300
}

.alert-elegant-pink #countdown {
    @apply bg-pink-500
}

/*Purple*/
.alert-elegant-purple #elegant-title {
    @apply bg-purple-200 text-purple-600 border-purple-300
}

.alert-elegant-purple #countdown {
    @apply bg-purple-500
}

/*Red*/
.alert-elegant-red #elegant-title {
    @apply bg-red-200 text-red-600 border-red-300
}

.alert-elegant-red #countdown {
    @apply bg-red-500
}

/*White*/
.alert-elegant-white #elegant-title {
    @apply bg-gray-200 text-gray-600 border-gray-300
}

.alert-elegant-white #countdown {
    @apply bg-gray-400
}

/*Yellow*/
.alert-elegant-yellow #elegant-title {
    @apply bg-yellow-200 text-yellow-600 border-yellow-300
}

.alert-elegant-yellow #countdown {
    @apply bg-yellow-500
}

/*</editor-fold>*/

/*<editor-fold desc="Block Style">*/
/*General Definitions*/
.alert-block-base {
    @apply shadow bg-white bg-opacity-50 text-gray-700 px-2 font-semibold overflow-hidden
}

.alert-block-base .alert-icon {
    @apply h-full px-2 -ml-2 border-r
}

.alert-block-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Black*/
.alert-block-black .alert-icon {
    @apply bg-gray-200 text-gray-500 border-gray-300
}

.alert-block-black #countdown {
    @apply bg-black
}

/*Blue*/
.alert-block-blue .alert-icon {
    @apply bg-blue-200 text-blue-500 border-blue-300
}

.alert-block-blue #countdown {
    @apply bg-blue-500
}

/*Gray*/
.alert-block-gray .alert-icon {
    @apply bg-gray-200 text-gray-500 border-gray-300
}

.alert-block-gray #countdown {
    @apply bg-gray-500
}

/*Green*/
.alert-block-green .alert-icon {
    @apply bg-green-200 text-green-500 border-green-300
}

.alert-block-green #countdown {
    @apply bg-green-500
}

/*Indigo*/
.alert-block-indigo .alert-icon {
    @apply bg-indigo-200 text-indigo-500 border-indigo-300
}

.alert-block-indigo #countdown {
    @apply bg-indigo-500
}

/*Pink*/
.alert-block-pink .alert-icon {
    @apply bg-pink-200 text-pink-500 border-pink-300
}

.alert-block-pink #countdown {
    @apply bg-pink-500
}

/*Purple*/
.alert-block-purple .alert-icon {
    @apply bg-purple-200 text-purple-500 border-purple-300
}

.alert-block-purple #countdown {
    @apply bg-purple-500
}

/*Red*/
.alert-block-red .alert-icon {
    @apply bg-red-200 text-red-500 border-red-300
}

.alert-block-red #countdown {
    @apply bg-red-500
}

/*White*/
.alert-block-white .alert-icon {
    @apply bg-gray-200 text-gray-500 border-gray-300
}

.alert-block-white #countdown {
    @apply bg-gray-400
}

/*Yellow*/
.alert-block-yellow .alert-icon {
    @apply bg-yellow-200 text-yellow-500 border-yellow-300
}

.alert-block-yellow #countdown {
    @apply bg-yellow-500
}

/*</editor-fold>*/

/*<editor-fold desc="Gradient Style">*/
/*General Definitions*/
.alert-gradient-base {
    @apply py-1 px-2 font-semibold
}

.alert-gradient-base .alert-icon {
    @apply ml-2
}

.alert-gradient-base #countdown {
    @apply h-1 rounded-full mx-auto
}

/*Colors: black, blue, gray, green, indigo, pink, purple, white and yellow*/
/*Rose*/
.alert-gradient-rose {
    @apply text-gray-600;
    text-shadow: #ffafbd .05rem .05rem;
    background: linear-gradient(90deg, rgba(255, 175, 189, 1) 0%, rgba(255, 195, 160, 1) 100%);
}

.alert-gradient-rose .alert-close {
    @apply bg-gray-500 text-gray-100 hover:bg-white hover:text-red-700 bg-opacity-75 rounded-full;
}

.alert-gradient-rose #countdown {
    background-color: rgba(255, 235, 239, 1);
}

/*Sky*/
.alert-gradient-sky {
    @apply text-gray-100;
    text-shadow: #2193b0 .05rem .05rem;
    background: linear-gradient(90deg, rgba(33, 147, 176, 1) 0%, rgba(109, 213, 237, 1) 100%);
}

.alert-gradient-sky .alert-close {
    @apply bg-gray-500 text-gray-100 hover:bg-white hover:text-red-700 bg-opacity-75 rounded-full;
}

.alert-gradient-sky #countdown {
    background-color: rgba(183, 237, 250, 1);
}

/*Fuchsia*/
.alert-gradient-fuchsia {
    @apply text-gray-100;
    text-shadow: #cc2b5e .05rem .05rem;
    background: linear-gradient(90deg, rgba(204, 43, 94, 1) 0%, rgba(117, 58, 136, 1) 100%);
}

.alert-gradient-fuchsia .alert-close {
    @apply bg-gray-100 hover:text-red-700 bg-opacity-75 rounded-full;
    color: #753a88;
}

.alert-gradient-fuchsia #countdown {
    background-color: rgba(252, 156, 187, 1);
}

/*Violet*/
.alert-gradient-violet {
    @apply text-gray-100;
    text-shadow: #42275a .05rem .05rem;
    background: linear-gradient(90deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
}

.alert-gradient-violet .alert-close {
    @apply bg-gray-100 hover:text-red-700 bg-opacity-75 rounded-full;
    color: #753a88;
}

.alert-gradient-violet #countdown {
    background-color: rgba(207, 171, 240, 1);
}

/*Cloud*/
.alert-gradient-cloud {
    @apply text-gray-100;
    text-shadow: #bdc3c7 .05rem .05rem;
    background: linear-gradient(90deg, rgba(44, 62, 80, 1) 0%, rgba(189, 195, 199, 1) 100%);
}

.alert-gradient-cloud .alert-close {
    @apply bg-gray-500 hover:bg-gray-200 hover:text-red-700 rounded-full;
}

.alert-gradient-cloud #countdown {
    background-color: rgba(179, 195, 210, 1);
}

/*Turquoise*/
.alert-gradient-turquoise {
    @apply text-gray-100;
    text-shadow: #06beb6 .05rem .05rem;
    background: linear-gradient(90deg, rgba(6, 190, 182, 1) 0%, rgba(72, 177, 191, 1) 100%);
}

.alert-gradient-turquoise .alert-close {
    @apply bg-gray-100 hover:text-red-700 bg-opacity-75 rounded-full;
    color: #48b1bf;
}

.alert-gradient-turquoise #countdown {
    background-color: rgba(168, 247, 244, 1);
}

/*Caterpillar*/
.alert-gradient-caterpillar {
    @apply text-gray-100;
    text-shadow: #2193b0 .05rem .05rem;
    background: linear-gradient(90deg, rgba(86, 171, 47, 1) 0%, rgba(168, 224, 99, 1) 100%);
}

.alert-gradient-caterpillar .alert-close {
    @apply bg-gray-500 text-gray-100 hover:bg-white hover:text-red-700 bg-opacity-75 rounded-full;
}

.alert-gradient-caterpillar #countdown {
    background-color: rgba(208, 245, 192, 1);
}

/*Biscuit*/
.alert-gradient-biscuit {
    @apply text-gray-100;
    text-shadow: #d76d77 .05rem .05rem;
    background: linear-gradient(90deg, rgba(58, 28, 113, 1) 0%, rgba(215, 109, 119, 1) 50%, rgba(255, 175, 123, 1) 100%);
}

.alert-gradient-biscuit .alert-close {
    @apply bg-gray-500 text-gray-100 hover:bg-white hover:text-red-700 bg-opacity-75 rounded-full;
}

.alert-gradient-biscuit #countdown {
    background-color: rgba(219, 205, 245, 1);
}

/*Dream*/
.alert-gradient-dream {
    @apply text-gray-100;
    text-shadow: #d76d77 .05rem .05rem;
    background: linear-gradient(90deg, rgba(105, 74, 101, 1) 0%, rgba(183, 121, 235, 1) 40%, rgba(125, 173, 249, 1) 80%, rgba(4, 189, 200, 1) 100%);
}

.alert-gradient-dream .alert-close {
    @apply bg-gray-500 text-gray-100 hover:bg-white hover:text-red-700 bg-opacity-75 rounded-full;
}

.alert-gradient-dream #countdown {
    background-color: rgba(219, 205, 245, 1);
}

/*</editor-fold>*/

